@using LanguagePractice.Models.ViewModels
@model ImperfectViewModel
@{
    Layout = "_Layout";
}

@if(Model.IsSuccess)
{
    <h1 style="text-align:center;">Verb: @Model.Infinitive (@Model.EnglishTranslation)</h1>
    <h2 style="text-align: center;">Tense: Imperfect</h2>

    <form id="conj-form" class="conjugation-forms">
        <label for="firstPersonSingular">First person singular</label>
        <input id="firstPersonSingular" type="text" />
        <small id="firstPersonSingular"></small>
        <label for="secondPersonSingular">Second person singular</label>
        <input id="secondPersonSingular" type="text" />
        <small id="secondPersonSingular"></small>
        <label for="thirdPersonSingular">Third person singular</label>
        <input id="thirdPersonSingular" type="text" />
        <small id="thirdPersonSingular"></small>
        <label for="firstPersonPlural">First person plural</label>
        <input id="firstPersonPlural" type="text" />
        <small id="firstPersonPlural"></small>
        <label for="secondPersonPlural">Second person plural</label>
        <input id="secondPersonPlural" type="text" />
        <small id="secondPersonPlural"></small>
        <label for="thirdPersonPlural">Third person plural</label>
        <input id="thirdPersonPlural" type="text" />
        <small id="thirdPersonPlural"></small>
        <button class="btn btn-success submit-buttons" type="submit">Submit Answers</button>
    </form>

    <partial name="_Offcanvas" />

    <button class="btn btn-primary next-word-buttons" type="button" id="next-word" disabled>Next word</button>
}
else
{
    <partial name="_ErrorMessage"/>
}

@section Scripts{
    <script>
        const conjugations = @Html.Raw(Json.Serialize(Model));
    </script>
}