@using LanguagePracticeSite.Models;
@model PresentIndicative
@{
    Layout = "_Layout";
}

<h2 style="text-align:center;">Verb: @Model.Infinitive</h2>

<form id="conj-form" class="conjugation-forms">
    <label for="firstPersonSingular">First person singular</label>
    <input id="firstPersonSingular" type="text" />
    <small id="firstPersonSingular"></small>
    <label for="secondPersonSingular">Second person singular</label>
    <input id="secondPersonSingular" type="text" />
    <small id="secondPersonSingular"></small>
    <label for="thirdPersonSingular">Third person singular</label>
    <input id="thirdPersonSingular" type="text" />
    <small id="thirdPersonSingular"></small>
    <label for="firstPersonPlural">First person plural</label>
    <input id="firstPersonPlural" type="text" />
    <small id="firstPersonPlural"></small>
    <label for="secondPersonPlural">Second person plural</label>
    <input id="secondPersonPlural" type="text" />
    <small id="secondPersonPlural"></small>
    <label for="thirdPersonPlural">Third person plural</label>
    <input id="thirdPersonPlural" type="text" />
    <small id="thirdPersonPlural"></small>
    <button class="btn btn-success submit-buttons" type="submit">Submit Answers</button>
</form>

<button class="btn btn-info next-word-buttons" type="button" id="next-word">Next word</button>

@section Scripts{
    <script>
        const conjugations = @Html.Raw(Json.Serialize(Model));
    </script>
}