@using LanguagePracticeSite.Models;
@model PresentPerfect
@{
    Layout = "_Layout";
}

<h2 style="text-align:center;">Verb: @Model.Infinitive</h2>

<form id="conj-form" class="conjugation-forms">
    <label for="firstPersonSingular">First person singular</label>
    <input id="firstPersonSingular" type="text" />
    <small id="firstPersonSingular"></small>
    <label for="secondPersonSingular">Second person singular</label>
    <input id="secondPersonSingular" type="text" />
    <small id="secondPersonSingular"></small>
    <label for="thirdPersonSingular">Third person singular</label>
    <input id="thirdPersonSingular" type="text" />
    <small id="thirdPersonSingular"></small>
    <label for="firstPersonPlural">First person plural</label>
    <input id="firstPersonPlural" type="text" />
    <small id="firstPersonPlural"></small>
    <label for="secondPersonPlural">Second person plural</label>
    <input id="secondPersonPlural" type="text" />
    <small id="secondPersonPlural"></small>
    <label for="thirdPersonPlural">Third person plural</label>
    <input id="thirdPersonPlural" type="text" />
    <small id="thirdPersonPlural"></small>
    <button class="btn btn-success submit-buttons" type="submit">Submit Answers</button>
</form>

<button class="btn btn-primary next-word-buttons" type="button" id="next-word">Next word</button>

<button class="btn btn-info accented-char-buttons" data-bs-toggle="offcanvas" href="#offcanvas-chars" role="button">Accented Character Code Reference</button>

<div class="offcanvas offcanvas-start" id="offcanvas-chars">
    <div class="offcanvas-header">
        <h3 style="text-align: center;">Accented Character Codes</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li>à - alt + 0224</li>
            <li>ì - alt + 0236</li>
            <li>è - alt + 0232</li>
        </ul>
    </div>
</div>

@section Scripts{
    <script>
        const conjugations = @Html.Raw(Json.Serialize(Model));
    </script>
}
