@{
    Layout = "_Layout";
}

<h1 style="text-align: center;">Demo</h1>

<p style="text-align: center">This is a demo of the how the conjugation form works, using the English verb "to be" as an example. Answers given will be validated through a script and a message will display on whether the input was correct or not.</p>

<h3 style="text-align:center;">Verb: To Be</h3>

<form id="conj-form-demo" class="conjugation-forms">
    <label for="firstPersonSingularDemo">First person singular (I)</label>
    <input id="firstPersonSingularDemo" type="text" />
    <small id="firstPersonSingularDemo"></small>
    <label for="secondPersonSingularDemo">Second person singular (you)</label>
    <input id="secondPersonSingularDemo" type="text" />
    <small id="secondPersonSingularDemo"></small>
    <label for="thirdPersonSingularDemo">Third person singular (he/she/it)</label>
    <input id="thirdPersonSingularDemo" type="text" />
    <small id="thirdPersonSingularDemo"></small>
    <label for="firstPersonPluralDemo">First person plural (we)</label>
    <input id="firstPersonPluralDemo" type="text" />
    <small id="firstPersonPluralDemo"></small>
    <label for="secondPersonPluralDemo">Second person plural (you)</label>
    <input id="secondPersonPluralDemo" type="text" />
    <small id="secondPersonPluralDemo"></small>
    <label for="thirdPersonPluralDemo">Third person plural (they)</label>
    <input id="thirdPersonPluralDemo" type="text" />
    <small id="thirdPersonPluralDemo"></small>
    <button class="btn btn-success submit-buttons" type="submit">Submit Answers</button>
</form>