@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a class="btn btn-primary" asp-area="User" asp-controller="Italian" asp-action="PresentIndicative">Practice Present Indicative Conjugations</a>
<a class="btn btn-primary" asp-area="User" asp-controller="Italian" asp-action="PresentPerfect">Practice Present Perfect Conjugations</a>
<a class="btn btn-primary" asp-area="User" asp-controller="Italian" asp-action="Imperfect">Practice Imperfect Conjugations</a>