@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 style="text-align: center;">Buongiorno!</h1>

<div class="img-container">
    <img src="~/images/italian-flag.png"/>
</div>

<div class="home-paragraphs">
    <p>Welcome. This is a site that enables you to practice conjugations for Italian verbs in multiple different tenses. Words are pulled from a database and then you have to type the corresponding conjugations to see if you can get them right! This is an excellent method for cementing conjugations in your mind!</p>
</div>

<div class="tense-link-container">
            <a class="btn btn-primary" asp-area="User" asp-controller="Italian" asp-action="PresentIndicative">Practice Present Indicative Conjugations</a>
            <a class="btn btn-primary" asp-area="User" asp-controller="Italian" asp-action="PresentPerfect">Practice Present Perfect Conjugations</a>
            <a class="btn btn-primary" asp-area="User" asp-controller="Italian" asp-action="Imperfect">Practice Imperfect Conjugations</a>
</div>

<p style="text-align: center; margin: 10px; font-size: large;"><strong>More tenses to come!</strong></p>