
.next-word-buttons, .accented-char-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accented-char-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1023px){
    .accented-char-buttons {
        display: none;
    }
}

.submit-buttons {
    margin: 10px;
}

.conjugation-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 425px){
    .conjugation-forms input{
        width: 400px;
    }
}

.correct-animation{
    animation: correct 2s;
}

@keyframes correct {
    from {
        font-size: .875em;
    }
    50% {
        font-size: x-large 
    }
    to {
        font-size: .875em;
    }
}