@using LanguagePracticeSite.Models;

@model IEnumerable<PresentIndicative>

<a class="btn btn-primary" asp-controller="Management" asp-action="CreatePresentIndicative">Add New Verb</a>
<table>
    <tr>
        <th>Verb Id</th>
        <th>Verb Infinitive</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
        @foreach(PresentIndicative word in Model)
        {
            <tr>
                <td>@word.Id</td>
                <td>@word.Infinitive</td>
                <td>
                    <a asp-route="PresIndEdit" asp-route-id="@word.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <a asp-route="PresIndDelete" asp-route-id="@word.Id">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
        }
</table>
