@{
    Layout = "_Layout";
}
@model IEnumerable<PresentPerfect>


<h1 class="display-titles">Current Present Perfect Phrases in Database</h1>
<a class="btn btn-success add-new-word-buttons" asp-controller="Management" asp-action="CreatePresentPerfect">+ Add New Present Perfect Phrase</a>
<table class="word-tables">
    <tr>
        <th>Verb Id</th>
        <th>Verb Infinitive</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (PresentPerfect word in Model)
    {
        <tr>
            <td id="word-id">@word.Id</td>
            <td id="word-infinitive">@word.Infinitive</td>
            <td>
                <div id="edit-container" class="icon-containers">
                    <a asp-route="PresPerfEdit" asp-route-id="@word.Id">
                        <i class="bi bi-pencil-square edit-icons"></i>
                    </a>
                </div>
            </td>
            <td>
                <div class="icon-containers">
                    <a asp-route="PresPerfDelete" asp-route-id="@word.Id">
                        <i class="bi bi-trash3-fill delete-icons"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
</table>

<a asp-controller="Management" asp-action="Index" class="btn btn-warning display-back-buttons">Back to Management Index</a>