@using LanguagePractice.Models.ViewModels
@model ImperfectViewModel
@{
    Layout = "_Layout";
}

<h1 style="text-align: center;">Edit Imperfect word in the database</h1>

<form class="word-forms" method="post">
    <label asp-for="Infinitive">Infinitive</label>
    <span asp-validation-for="Infinitive"></span>
    <input type="text" asp-for="Infinitive" />
    <br />
    <label asp-for="FirstPersonSingular">First Person Singular</label>
    <span asp-validation-for="FirstPersonSingular"></span>
    <input type="text" asp-for="FirstPersonSingular" />
    <br />
    <label asp-for="SecondPersonSingular">Second Person Singular</label>
    <span asp-validation-for="SecondPersonSingular"></span>
    <input type="text" asp-for="SecondPersonSingular" />
    <br />
    <label asp-for="ThirdPersonSingular">Third Person Singular</label>
    <span asp-validation-for="ThirdPersonSingular"></span>
    <input type="text" asp-for="ThirdPersonSingular" />
    <br />
    <label asp-for="FirstPersonPlural">First Person Plural</label>
    <span asp-validation-for="FirstPersonPlural"></span>
    <input type="text" asp-for="FirstPersonPlural" />
    <br />
    <label asp-for="SecondPersonPlural">Second Person Plural</label>
    <span asp-validation-for="SecondPersonPlural"></span>
    <input type="text" asp-for="SecondPersonPlural" />
    <br />
    <label asp-for="ThirdPersonPlural">Third Person Plural</label>
    <span asp-validation-for="ThirdPersonPlural"></span>
    <input type="text" asp-for="ThirdPersonPlural" />
    <br />
    <label asp-for="EnglishTranslation">English Translation</label>
    <span asp-validation-for="EnglishTranslation"></span>
    <input type="text" asp-for="EnglishTranslation" />
    <br />
    <button class="btn btn-success" type="submit">Edit Verb</button>
</form>

<a class="btn btn-warning crud-back-buttons" asp-area="Admin" asp-controller="Management" asp-action="DisplayImperfects">Back</a>
