@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a class="btn btn-primary" asp-area="Admin" asp-controller="Management" asp-action="DisplayPresentIndicatives">Manage Present Indicative Words</a>
<a class="btn btn-primary" asp-area="Admin" asp-controller="Management" asp-action="DisplayPresentPerfects">Manage Present Perfect Phrases</a>
<a class="btn btn-primary" asp-area="Admin" asp-controller="Management" asp-action="DisplayImperfects">Manage Imperfect Words</a>