@{
    Layout = "_Layout";
}

<div class="management-links-container">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Management" asp-action="DisplayPresentIndicatives">Manage Present Indicative Words</a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Management" asp-action="DisplayPresentPerfects">Manage Present Perfect Phrases</a>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Management" asp-action="DisplayImperfects">Manage Imperfect Words</a>
</div>

<div class="img-container-management-index">
    <img alt="Drawing of the Colosseum in Rome." src="~/images/colosseum.png"/>
</div>
