@model PresentIndicative

<h2 style="text-align:center;">Verb: @Model.Infinitive</h2>

<form id="conj-form" style="display: flex; flex-direction: column; align-items: center;">
    <label>First person singular</label>
    <input id="firstPersonSingular" type="text" />
    <small></small>
    <label>Second person singular</label>
    <input id="secondPersonSingular" type="text" />
    <small></small>
    <label>Third person singular</label>
    <input id="thirdPersonSingular" type="text" />
    <small></small>
    <label>First person plural</label>
    <input id="firstPersonPlural" type="text" />
    <small></small>
    <label>Second person plural</label>
    <input id="secondPersonPlural" type="text" />
    <small></small>
    <label>Third person plural</label>
    <input id="thirdPersonPlural" type="text" />
    <small></small>
    <button style="margin: 10px;" type="submit">Submit Answers</button>
</form>

@section Scripts{
    <script>
        $(document).ready(function(){
            const conjugations = @Html.Raw(Json.Serialize(Model));
            // const answers = {};
            // const smallText = $("small");

            console.log(conjugations)
                
            // $("#conj-form").on("submit", function(event){
            //     event.preventDefault();

            //     $("#conj-form :input").each(function () {
            //         answers[this.id] = this.value;
            //     });

                //console.log(answers)
                
                
                // for (let i = 0; i < answers.length; i++){
                //     if (answers[i] === conjugations.vedere[i]) {
                //         smallText[i].innerHTML = "Correct!"
                //         smallText[i].style.color = "green";
                //     }
                //     else{
                //         smallText[i].innerHTML = "Incorrect. Try again."
                //         smallText[i].style.color = "red";
                //     }
                // }
        //     })
        })
    </script>
}